/**************/
/* General styling */
/**************/

*, *::after, *::before {
    box-sizing:border-box;  
  }

  @font-face {
    font-family: 'IntroScriptMedium';
    src: url('../fonts/IntroScriptMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
  --color-primary: light dark #1D1D1B white;
  --color-header: #B19144;
  --color-background:light dark #ffffff grey;
  --global-color: light dark #F3E7D4 #1D1D1B;
  --global-back: light dark #f8f2e9 #1D1D1B;
  --global-color2: light dark #D4DC91 #525829 ;
  --color-button-text:#fff;
}

  h1{
    display:none;
  }

  h2{
    display: block;
  font-family: 'IntroScriptMedium', sans-serif;
  box-sizing: border-box;
  color: var(--color-header);
  border-radius: 0 0 0 0;
  font-size: 35px;
  font-weight: 500;
  height: auto;
  line-height: 40.25px;
  text-align: center;
  text-transform: lowercase;
  width: auto;
  }
  
  body{
    margin: 0;
  }
  
  p{
    font-family: "Alata",Sans-serif;
    font-size: 15px;
    text-align: center;
  }

  ul{
    font-family: "Alata",Sans-serif;
    list-style: none;
  }
  
  a{
    font-family: "Alata",Sans-serif;
    color: rgb(177, 145, 68);
    text-transform: uppercase;
    text-decoration: none;
  }

  a:hover{
    color: white;
    background-color: peachpuff;
}


  body {
    background-color: var(--global-back);
    align-items: center;
    box-sizing: border-box;
    }

    /* Hierdoor blijft de header bovenin geplakt. Header voor mobiel */
header{
	display: flex;
  justify-content: flex-start; 
  align-items: center;
  position:sticky;
  margin:1em;
  padding:1em;
  z-index:1000;
  background-color:#ffffff;
}

header img{
  display: inline;
	width: 130px;
	margin: 5px;
}


/*links op de pagina het menu*/
nav:nth-of-type(1){
	justify-content: left;
  width: 236px;
  order: -1;
}

nav ul:nth-of-type(1) {
  position: absolute; /* Zorgt ervoor dat de ul loskomt van de normale flow */
  top: 0;
  left: 0;
  height: 100vh; /* Laat het menu de volledige hoogte van het scherm innemen */
  width: 236px; 
  translate: -100%; /* Start buiten beeld aan de linkerkant */
  background-color:#f8f2e9;
  text-transform: uppercase;
  z-index: 1000;
  transition: 0.5s ease; /* Voor een soepele overgang */
}


nav.toonMenu ul {
    translate:0%;
    justify-self: flex-start;
}

/* Het tweede menu voor groter scherm is nog niet zichtbaar*/
nav:nth-of-type(2){
  display: none;
}

/*****************************/
/*****************************/
/* Dropdown menu*/
/*****************************/
/*****************************/

summary{
color:var(--color-header);
transform: translateY(0);
}

summary:hover{
  color: white;
  background-color: peachpuff;
} 

details summary {
  cursor: pointer;
  list-style: none;
  transform: translateY(40);
}


details ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

details[open] ul {
  display: block;
}


/*****************************/
/*****************************/
/* Hamburger menu, mobiel */
/*****************************/
/*****************************/

/* bron: https://codepen.io/Irisluna/pen/WNVBMYY*/

:active span{
  color: var(--color-header);
}

li:nth-of-type(1) button {
	/* grid om de 3 spans in het midden van de button te positioneren */
	display:grid;
	place-items:center;
  }
  
  /* alledrie de streepjes */
  li:nth-of-type(1) button span {
	grid-row-start:1;
	grid-column-start:1;
	
	/* grootte en kleur van de streepjes */
	width:2em;
	height:.2em;
	background-color: black;
	
	/* transities duren .5s */
	transition-duration:.5s;

  }

  
   li:nth-of-type(1) button span {
    grid-row-start:1;
    grid-column-start:1;
    
    /* grootte en kleur van de streepjes */
    width:2em;
    height:.2em;
   background-color: black;
    
    /* transities duren .5s */
    transition-duration:.5s;
    }

  
  /* het eerste streepje */
 li:nth-of-type(1) button span:nth-of-type(1) {
	/* met transform: */
	/* .4em omhoog */
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translateY */
	transform:translateY(-.4em);
  }
  
  /*  
  section.streepjes li:nth-of-type(1) button span:nth-of-type(2) {
	
  }*/
  
  /* het derde streepje */
   li:nth-of-type(1) button span:nth-of-type(3) {
	/* met transform: */
	/* .4em omlaag */
	transform:translateY(.4em);
  }
  
  /***********************************************************/
  /* als de EERSTE STREEPJES BUTTON de classs menuOpen heeft */
  /***********************************************************/
  
  /* het eerste streepje */
  li:nth-of-type(1) button[aria-expanded="true"] span:nth-of-type(1) {
	/* met transform: */
	/* 1: 45 graden draaien met de klok mee */
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate */
	/* 2: 25% langer maken */
	/* developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scaleX*/
	transform:rotate(45deg) scalex(1.25);
  }
  
  /* het tweede streepje */
   li:nth-of-type(1) button[aria-expanded="true"] span:nth-of-type(2) {
	/* met opacity helemaal doorzichtig maken */
	opacity:0;
  }
  
  /* het derde streepje */
   li:nth-of-type(1) button[aria-expanded="true"] span:nth-of-type(3) {
	/* met transform: */
	/* 1. 45 graden draaien tegen de klok in */
	/* 2. 25% langer maken */
	transform:rotate(-45deg) scalex(1.25);
  }
  

/*Hierdoor blijft de button op de juiste positie.*/
span{
  display: block;
  position:relative;
  z-index:1;
}

/*Bij een groot scherm wordt het hamburger menu weggehaald.*/

    @media (min-width:65em) {
    
      nav {
        order:0;
      }
        
      span{
        display: none;
      }
    
        button {
          display:hidden;
        }
        
        nav ul:nth-of-type(1) {
          display: none;
          width: 0;
          height: 0;
        }

    header img:nth-of-type(1){
      display: none;
      
    }

    header{
      display: flex;
      align-items: center;
      position:sticky;
      top:0;
      z-index:1000;
      background-color: var(--global-back);
    }

    nav:nth-of-type(2) {
      display: block;
  }

        nav:nth-of-type(2) ul{
          display: flex;
          background-color: var(--global-back);
          justify-content: space-between;
          flex-wrap: nowrap;
          margin: 0%;
          font-family: Arial, sans-serif;
          translate: 0%;
      }
  
      nav:nth-of-type(2) ul li {
        position: relative;
        gap: 10;
        justify-content: center;
        align-items: center;
        margin: 0;
        min-width: 100px; 
        text-align: center; 
        box-sizing: border-box;
      }
    
    }

    	/* Media landscape toevoegd! */
      @media screen and (orientation: landscape) {
        body {
          font-size: .7em;
        }
        
        header{
          display: absolute
        }

      }