/**************/
/* Home pagina */
/**************/

body{
	background-color: var(--global-color);
}

  

  h2{
    display: block;
  font-family: 'IntroScriptMedium', sans-serif;
  box-sizing: border-box;
  color: var(--color-heading);
  border-radius: 0 0 0 0;
  font-size: 35px;
  font-weight: 500;
  height: auto;
  line-height: 40.25px;
  text-align: center;
  text-transform: lowercase;
  width: auto;
  }
  

  h3,h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-heading)
  }

img {
	vertical-align: middle;
	border-style: none;
	}

	/* Dit is de slider.*/

	section:nth-of-type(1) h2{
		display: none;
	}

	section:nth-of-type(1) ul{
		display: flex;
		overflow-x: hidden;
		padding: 0;
		background-color: rgb(246, 169, 159);
	}

	section:nth-of-type(1) ul{
		display: relative;
	}

	section:nth-of-type(1) button:nth-of-type(1){
		position:absolute;
		width: 50px;
		height: 50px;
  top: 50%;
  left: 1rem;
  bottom: 0;
  left: 0;
		z-index: 100;
		cursor: pointer;
	}

	section:nth-of-type(1) button:nth-of-type(2){
		position:absolute;
		width: 50px;
		height: 50px;
  top: 50%;
  left: 90%;
  bottom: 0;
  left: 90%;
		z-index: 100;
		cursor: pointer;
	}

/* Neemt pagina in beslag*/
	section:nth-of-type(1) li{
		flex-shrink:0;
		height:339px ;
		width: 100%;
	}
	
section:nth-of-type(1) img{
	height: 100%;
  width: 100%;
  object-fit: cover;
  
}

 /*********************/
  /*********************/
	/* Dit is voor de 4 categorieen.*/
	 /*********************/
	  /*********************/

section :nth-of-type(2){
	display: flex;
	flex-direction: column;
	gap: 20px;

}

/* Alle articles binnen deze section hebben content in het midden staan.*/

section:nth-of-type(2) h3 {
		display: block;
	  font-family: 'IntroScriptMedium', sans-serif;
	  box-sizing: border-box;
	  color: var(--color-heading);
	  border-radius: 0 0 0 0;
	  font-size: 35px;
	  font-weight: 500;
	  height: auto;
	  line-height: 40.25px;
	  text-align: center;
	  text-transform: lowercase;
	  width: auto;
	  }
	  
section:nth-of-type(2) > article{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

section:nth-of-type(2) > article img{
	order: -1;
	height: 8em;
width: 100px
}

/* Style images */
section:nth-of-type(2) > article img {
	width: 100px;
}

/* Style p binnen alle articles */
section:nth-of-type(2) > article > p:first-of-type {
    margin-bottom: 20px;
}

section:nth-of-type(2) > article:nth-child(1) {
	animation: bounceLeft;
	animation-duration: 2s ;
  }

/* Het bounce effect is een speels karakter in de website*/
@keyframes bounceLeft {
	0% {opacity: 0; 
		transform: translateX(-100%);}

	40% { opacity: 1; 
		transform: translateX(10px);}

	80% { transform: translateX(-10px);}

	100% {transform: translateX(0);}
  }


  section:nth-of-type(2) > article:is(:nth-child(2), :nth-child(3)){
	animation: bounceUp;
	animation-duration: 2s ;
  }

/* Het bounce effect is een speels karakter in de website*/
@keyframes bounceUp {
	0% {opacity: 0;
        transform: translateY(0);}

    40% {opacity: 1;   transform: translateY(-20px); }

    80% { transform: translateY(10px); }

    100% {
        transform: translateY(0); }
  }

  section:nth-of-type(2) > article:nth-child(4)  {
	animation: bounceRight;
	animation-duration: 2s ;
  }

/* Het bounce effect is een speels karakter in de website*/
@keyframes bounceRight {
	0% {opacity: 0; 
		transform: translateX(100%);}

	40% { opacity: 1; 
		transform: translateX(-10px);}

	80% { transform: translateX(10px);}

	100% {transform: translateX(0);}
  }

  	/* Bij groter scherm staan de categorieen naast elkaar en wordt de slider groter */

	  @media (min-width: 1045px) {
		section:nth-of-type(2) {
			display: flex;
			flex-direction: row; /* Artikelen naast elkaar */
			justify-content: space-between;
			gap: 20px; 
			margin: 0 auto; 
		}

		section:nth-of-type(1) li{ /* Grotere slider */
			flex-shrink:0;
			width: 120%;
			height:600px;
			width: 100%;
		}
	}

	section:nth-of-type(3) {
		background-color:var(--global-color2);
		margin: 0;
		width: 100%;
	}	


	section:nth-of-type(3) h2{
		color: var(--color3);
		font-family: 'MontecatiniProStrettoUltra', sans-serif;
		font-size: 6em;
	  }

	section:nth-of-type(3) article{
		justify-content: center;
		align-items: center;
	}

	section:nth-of-type(3) ul:nth-of-type(2){
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-between;

	}

	  section:nth-of-type(3) > :nth-child(3){
		color: var(--color-heading);
		font-family: 'IntroScriptMedium', sans-serif;
		font-size: 3em;
	  }

	  /* Social icons*/
	  section:nth-of-type(3) ul:nth-of-type(1){
		display: inline-grid;
		justify-content: center;
		grid-template-columns: repeat(3,1fr);
  width: 100%;
	  }

	  section:nth-of-type(3) ul:nth-of-type(1) img{
		height: 4em;
	  }

	  /* Socials animatie*/

	  @keyframes pop{
		0% {
			transform: scale(1.2);
		  }
		  50% {
			transform: scale(1);
		  }
		  100% {
			transform: scale(1.2);
		  }
	  }

	  section:nth-of-type(3) ul:nth-of-type(1) img:hover{
		animation-name:pop;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	  }

	  section:nth-of-type(3) p:nth-child(1){
		display: flex;
		justify-self: center;
		align-self: center;
		font-family: 'IntroScriptMedium', sans-serif;
	  }

	/* Begin fotolijsten */
	section:nth-of-type(3) ul{
		margin:0;
	padding:0;
	list-style-type:"";
	}

	/* Alles gecentreerd */
	section:nth-of-type(3) li{
		display: flex;
	flex-direction: column;
	align-items: center;
	}

	figure img {
		justify-self:center; 
	align-self:center; 
		width: 17em;
		height: auto; /* Foto past zich aan */
		background-color: var(--color-background);
		object-fit: contain; 
	}

	
	figure {
		display:grid;
		align-items: center;
		justify-content: center;
		width: 19em; 
		height: 22em;
		background-color: white; 
		border: 1px solid #ddd;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aan chatgpt gevraagd  https://chatgpt.com/share/6756f526-db8c-800b-9127-c53f6160927b */
		
	}

    figure:nth-of-type(1):hover,
figure:nth-of-type(3):hover {
    rotate: -3deg;
    transition-duration: 0.5s;
}

figure:nth-of-type(2):hover,
figure:nth-of-type(4):hover {
    rotate: 7deg;
    transition-duration: 0.5s;
}

		figcaption{
			align-items: center;
			justify-content: center;
			font-size: 25px;
			color: var(--color-heading);
			font-family: 'IntroScriptMedium', sans-serif;
			margin-top: 5px; /* Ruimte tussen afbeelding en tekst */
text-align: center;

		}


	
	/* Fotolijsten op een rij van 4 op de computer */
 @media (min-width: 80em) {

	section:nth-of-type(3) ul:nth-of-type(2){
		display: flex;
		flex-direction: row;
		margin: 3em;
		padding-right: 5em;
		padding-left: 3em;
	}

	/* Kleinere li */
	figure{
		width: 14em;
		height: 18em;
	}

	/* Kleinere foto */
	figure img {
		justify-self:center; 
	align-self:center; 
		width: 12em;
		background-color: var(--color-background);
	}
	
	}

	/* Einde fotolijsten */


	/* kleinere tekst bij telefoon */
	@media (max-width: 50em) {

		section:nth-of-type(3) h2{
			font-size: 3em;
		  }
	
		  section:nth-of-type(3) > :nth-child(3){
			font-size: 1.5em;
		  }
		
		}



  
