/**************/
/* Home pagina */
/**************/

 /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
	--color-primary: light dark #1D1D1B white;
	--color-header: #B19144;
	--color-background:light dark #ffffff grey;
	--global-color: light dark #F3E7D4 #1D1D1B;
	--global-back: light dark #f8f2e9 #1D1D1B;
	--global-color2: light dark #D4DC91 #525829 ;
	--color-button-text:#fff;
}

body{
	background-color: var(--global-color);
}

h1{
    visibility: hidden;
  }
  
  h3,h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-header)
  }

img {
	vertical-align: middle;
	border-style: none;
	}

	/* Dit is de slider.*/

	section:nth-of-type(1) h2{
		display: none;
	}

	section:nth-of-type(1) ul{
		display: flex;
		overflow-x: hidden;
		padding: 0;
		background-color: rgb(246, 169, 159);
	}

	section:nth-of-type(1) ul{
		display: relative;
	}

	section:nth-of-type(1) button:nth-of-type(1){
		position:absolute;
		width: 50px;
		height: 50px;
  top: 50%;
  left: 1rem;
  bottom: 0;
  left: 0;
		z-index: 100;
		cursor: pointer;
	}

	section:nth-of-type(1) button:nth-of-type(2){
		position:absolute;
		width: 50px;
		height: 50px;
  top: 50%;
  left: 90%;
  bottom: 0;
  left: 90%;
		z-index: 100;
		cursor: pointer;
	}

/* Neemt pagina in beslag*/
	section:nth-of-type(1) li{
		flex-shrink:0;
		height:339px ;
		width: 100%;
	}
	
section:nth-of-type(1) img{
	height: 100%;
  width: 100%;
  object-fit: cover;
  
}

 /*********************/
  /*********************/
	/* Dit is voor de 4 categorieen.*/
	 /*********************/
	  /*********************/

section :nth-of-type(2){
	display: flex;
	flex-direction: column;
	gap: 20px;

}

/* Alle articles binnen deze section hebben content in het midden staan.*/

section:nth-of-type(2) > article{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

section:nth-of-type(2) > article img{
	order: -1;
	height: 8em;
width: 100px
}

/* Style images */
section:nth-of-type(2) > article img {
	width: 100px;
}

/* Style p binnen alle articles */
section:nth-of-type(2) > article > p:first-of-type {
    margin-bottom: 20px;
}

section:nth-of-type(2) > article:nth-child(1) {
	animation: bounceLeft;
	animation-duration: 2s ;
  }

/* Het bounce effect is een speels karakter in de website*/
@keyframes bounceLeft {
	0% {opacity: 0; 
		transform: translateX(-100%);}

	40% { opacity: 1; 
		transform: translateX(10px);}

	80% { transform: translateX(-10px);}

	100% {transform: translateX(0);}
  }


  section:nth-of-type(2) > article:is(:nth-child(2), :nth-child(3)){
	animation: bounceUp;
	animation-duration: 2s ;
  }

/* Het bounce effect is een speels karakter in de website*/
@keyframes bounceUp {
	0% {opacity: 0;
        transform: translateY(0);}

    40% {opacity: 1;   transform: translateY(-20px); }

    80% { transform: translateY(10px); }

    100% {
        transform: translateY(0); }
  }

  section:nth-of-type(2) > article:nth-child(4)  {
	animation: bounceRight;
	animation-duration: 2s ;
  }

/* Het bounce effect is een speels karakter in de website*/
@keyframes bounceRight {
	0% {opacity: 0; 
		transform: translateX(100%);}

	40% { opacity: 1; 
		transform: translateX(-10px);}

	80% { transform: translateX(10px);}

	100% {transform: translateX(0);}
  }

  	/* Bij groter scherm staan de categorieen naast elkaar en wordt de slider groter */

	  @media (min-width: 1045px) {
		section:nth-of-type(2) {
			display: flex;
			flex-direction: row; /* Artikelen naast elkaar */
			justify-content: space-between;
			gap: 20px; 
			margin: 0 auto; 
		}

		section:nth-of-type(1) li{ /* Grotere slider */
			flex-shrink:0;
			width: 120%;
			height:600px;
			width: 100%;
		}
	}

	section:nth-of-type(3) h2{
		color: #6a422a
	  }

	  /* Social icons*/
	  section:nth-of-type(3) ul:nth-of-type(1){
		display: inline-grid;
		justify-content: center;
		grid-template-columns: repeat(3,1fr);
  width: 100%;
	  }

	  section:nth-of-type(3) ul:nth-of-type(1) img{
		height: 4em;
	  }

	  /* Socials animatie*/

	  @keyframes pop{
		0% {
			transform: scale(1.2);
		  }
		  50% {
			transform: scale(1);
		  }
		  100% {
			transform: scale(1.2);
		  }
	  }

	  section:nth-of-type(3) ul:nth-of-type(1) img:hover{
		animation-name:pop;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
	  }

	  section:nth-of-type(3) p:nth-child(1){
		display: flex;
		justify-self: center;
		align-self: center;
		font-family: 'IntroScriptMedium', sans-serif;
	  }

	/* Begin fotolijsten */
	section:nth-of-type(3) ul{
		margin:0;
	padding:0;
	list-style-type:"";
	}

	/* Alles gecentreerd */

	section:nth-of-type(3) li{
		display: flex;
	flex-direction: column;
	align-items: center;
	}

	figure img {
		width: 50%;
		max-height: 70%; 
		background-color: var(--color-background);
		object-fit: contain; 
	}

	
	figure:is(:nth-of-type(1), :nth-of-type(3)) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 400px; 
		height: 300px;
		background-color: white; 
		border: 1px solid #ddd;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aan chatgpt gevraagd */
		rotate: -3deg;
	}

	figure:hover{
		rotate: 7deg;
		transition-duration: 0.5s;
	}

	.fotolijst2 img {
		max-width: 90%; 
		max-height: 70%; 
		background-color: var(--color-background);
		object-fit: contain; 
	}
	
	figure:is(:nth-of-type(2), :nth-of-type(4)) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 400px; 
		height: 300px;
		background-color: var(--color-background); 
		border: 1px solid #ddd;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Aan chatgpt gevraagd */
		rotate: 7deg;
	}


	/* Einde fotolijsten */

		figcaption{
			display: flex;
			justify-content: center;
			justify-self: left;
			font-size: 25px;
			color: var(--color-header);
			font-family: 'IntroScriptMedium', sans-serif;
			margin-top: 5px; /* Ruimte tussen afbeelding en tekst */
text-align: center;

		}


	section:nth-of-type(3) {
		background-color: #D4DC91;;
		margin: 0;
		width: 100%;
	}	



	section:nth-of-type(3) article{
		justify-content: center;
		align-items: center;
	}

	section:nth-of-type(3) article p{
		margin-top: 8%;
	} 

	section:nth-of-type(3) ul:nth-of-type(2){
		display: flex;
		flex-direction: column;
		justify-content: center;
		justify-content: space-between;

	}
	
	


	/* Fotolijsten op een rij van 4 op de computer */
 @media (min-width: 800px) {

	section:nth-of-type(3) ul:nth-of-type(2){
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0;
		margin: 0;
	}
	
	}

		

footer{
	justify-content: flex-start;
display: flex;
flex-direction: column;
background-color: #c5b9ac;
border-style: none;
text-align: left;

}

	/* Footer contact en volg ons naast elkaar */
	@media (min-width: 800px) {

		footer{
			display: flex;
		}
		
		}

footer section {
	background-color: var(--color-background);
} 

footer h3{
	animation: bounceRight;
	animation-duration: 2s;
}

footer ul{
	display: inline-grid;
	justify-content: center;
	max-width: 20em;
	grid-template-columns: repeat(3,1fr);
width: 100%;
animation: bounceRight;
	animation-duration: 2s;
  }


 footer ul img:hover{
	animation-name:pop;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
  }

footer p{
	color: var(--color-header);
	text-transform: capitalize;

}



  
