/**************/
/* Webshop pagina */
/**************/

h1{
    display: block;
  font-family: 'MontecatiniProStrettoUltra', sans-serif;
  box-sizing: border-box;
  color: var(--color-heading);
  border-radius: 0 0 0 0;
  font-weight: 500;
  height: auto;
  line-height: 40.25px;
  text-align: center;
  text-transform: lowercase;
  width: auto;
  font-size: 8em;
  }

  h2, h3{
    display: block;
  font-family: 'MontecatiniProStrettoUltra', sans-serif;
  box-sizing: border-box;
  color: var(--color-heading);
  border-radius: 0 0 0 0;
  font-weight: 500;
  height: auto;
  line-height: 40.25px;
  text-align: center;
  text-transform: lowercase;
  width: auto;
  font-size: 2em;
  }

  /*Groene achtergrond*/
  main{
	background-color: var( --global-color2);
  }

section:nth-of-type(1) {
	padding:1em;
	text-align: center;
}

section:nth-of-type(1) h2:nth-of-type(1){
	font-size: 9em;
	line-height: 40.25px;
  }

main section:nth-of-type(1) p{
	display:absolute;
	height:0,7em;
	rotate:-10deg;
	font-size:2em;
	font-family: 'IntroScriptMedium', sans-serif;
	font-size: 2em;
	line-height: .5em;
	color:var(--color-p1)
}

main section:nth-of-type(1) > img {
    display: inline-block; 
    padding: 0;
	margin: 0;
    height: 40em;
}


ul{
	font-family: "Alata",Sans-serif;
	list-style: none;
}



@keyframes slideIn{

	0%{
transform: translateX(-100%);
	}

	50%{
		transform: translateX(-20%);

	}

	100%{
		transform: translateX(0%)
	}
}

/*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.php
Link gebruikt voor animatie timing function*/
section:nth-of-type(1){
animation-name: slideIn;
animation-duration: 2s;
animation-timing-function: ease-in;
}


/*Taarten naast elkaar*/

section:nth-of-type(2){
	background-color: var(--global-back);
	padding-top: 1em;
}

section:nth-of-type(2) li{
	display: flex;
	flex-direction: column;
		border-radius: 10%;
		text-align: center;
		border-width: 0;
border-style: solid;
border-radius: 2%;
background-color: #fff;
overflow: hidden;
	}

	section:nth-of-type(2) p{
		color: black;
	}

	/* Hulp van Helina*/
	section:nth-of-type(2) li img{
		order:1;
	}

	section:nth-of-type(2) li p:nth-of-type(1){
		order:2;
	}

	section:nth-of-type(2) li h2{
		order:3;
margin: 0;
	}

	section:nth-of-type(2) li p:nth-of-type(2){
		order:4;
	}

	section:nth-of-type(2) li button{
		order: 5;
	}

	section:nth-of-type(2) li button{
		border-style: solid;
border-radius: 25px;
		color: #FFF;
background-color: #F49E75;
border-color: #F49E75;
padding: 1em;
margin: 1em;
font-size: 1rem;
line-height: 1.5;
font-weight: 400;
text-align: center;
vertical-align: middle;
	}
	
	section:nth-of-type(2) li button:hover {
		color: #FFF;
		background-color: #F6A99F;
		border-color: #F6A99F;
		}

			/* kleinere tekst bij telefoon en kleinere taart */
			@media (max-width: 65em) {

				section:nth-of-type(1) h1 {
					font-size: 6em;
				  }
			
				  section:nth-of-type(1) p{
					font-size: 2em;
				  }
	
				  main section:nth-of-type(1) > img {
					height: 15em;
				}
				
				}

		/* kleinere tekst bij telefoon en kleinere taart */
		@media (max-width: 55em) {

			section:nth-of-type(1) h1{
				font-size: 3em;
			  }
		
			  section:nth-of-type(1) p{
				font-size: 1.5em;
			  }

			  main section:nth-of-type(1) > img {
				height: 15em;
			}
			
			}

			main ul:nth-of-type(1) {
				display: grid;
				grid-column-gap: 20px;
		grid-row-gap: 1em;
		margin:0;
		grid-template-columns: repeat(3,1fr); /*3 rijen, 1 fractie van het scherm*/
		}

		/*2 rijen, verdeeld over het scherm*/
		@media (max-width: 70em) {
			main ul:nth-of-type(1)  {
				grid-template-columns: repeat(2, 1fr); /* 2 kolommen */
			}
		}
		
		/*1 rij, verdeeld over het scherm*/
		@media (max-width: 40em) {


			main ul:nth-of-type(1) {
				width: 27em;
				place-self: center;
				grid-template-columns: 1fr; /* 1 kolom */
			}
		}
		
 /*********************/
  /*********************/
			/*Dialog styling*/
			 /*********************/
  /*********************/


  dialog{
	display:none;
}

			dialog{
				display: relative;
				display: flex;
				flex-direction: column;
				width: 65%;
			}

			dialog p{
				color: black;
			}

	dialog button{
		border-style: solid;
border-radius: 25px;
		color: #FFF;
background-color: #F49E75;
border-color: #F49E75;
padding: 1em;
margin: 1em;
font-size: 1rem;
line-height: 1.5;
font-weight: 400;
text-align: center;
vertical-align: middle;
	}

	dialog button:hover{
		color: #FFF;
		background-color: #F6A99F;
		border-color: #F6A99F;
	}

/*ijstaart foto*/
			dialog img:nth-of-type(1){
				display: block;
				width: 100%;
				order: -1;
				align-items: center;
			}
			
			dialog h2{
				margin-top: 0;
font-family: 'MontecatiniProStrettoUltra', sans-serif;
color: var(--color-heading);
			}

		
			/*sluitknop style*/
			dialog img:nth-of-type(2) {
				height: 3em;
				position: absolute;
				top: 2.5em; 
				top: 0;
                right: 0;
                bottom: 0;
				left:auto;
                z-index: 1000;
                cursor: pointer;
				background-color: white;
				border-radius: 40%;
			}


			/*Stijl groter scherm*/
			@media (width > 60em) {
    dialog {
		flex-direction: column;
        width: 85%;
        padding: 1em;
		width: 20em;
    }

    dialog img:nth-of-type(2) {
        height: 2.5em;
        width: 2.5em;
    }
}
			
