/**************/
/* Webshop pagina */
/**************/
:root {

		--color-primary:  #1D1D1B;
		--color-header: #B19144;
		--color-background: #ffffff ;
		--global-color:  #F3E7D4;
		--global-back:  #f8f2e9;
		--global-color2:  #D4DC91;
		--color-button-text:#fff;
}

@font-face {
    font-family: 'MontecatiniProStrettoUltra';
    src: url('../fonts/MontecatiniProStrettoUltra.woff2') format('woff2'); 
	font-style: normal;
}

h1{
	font-family:'MontecatiniProStrettoUltra',helvetica ;
}
h3,h4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-header)
  }


ul{
	font-family: "Alata",Sans-serif;
	list-style: none;
}


img:nth-of-type(2){
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(3); /* Centraal plaatsen én schalen */
        
}

@keyframes slideIn{

	0%{
transform: translateX(-100%);
	}

	50%{
		transform: translateX(-20%);

	}

	100%{
		transform: translateX(0%)
	}
}

/*https://www.w3schools.com/cssref/css3_pr_animation-timing-function.php
Link gebruikt voor animatie timing function*/
section:nth-of-type(1){
animation-name: slideIn;
animation-duration: 2s;
animation-timing-function: ease-in;
}

 section:nth-of-type(1) p{
	display:absolute;
	height:0,7em;
	rotate:-10deg;
	font-size:18px;
	font-family: 'IntroScriptMedium', sans-serif;
	font-size: 15px;
	text-align: center;
	top:2em;
	bottom:0;
	left:0;
	right:0;
	line-height: .5em;
	color:rgb(106, 87, 87);
}

/*Taarten naast elkaar*/
section:nth-of-type(2){
	background-color: paleturquoise
	}

	ul{
		display: grid;
		grid-column-gap: 20px;
grid-row-gap: 1em;
margin:0;
grid-template-columns: repeat(3,1fr); /*3 rijen, 1 fractie van het scherm*/
}


section:nth-of-type(2) li{
	display: flex;
	flex-direction: column;
		border-radius: 10%;
		text-align: center;
		border-width: 0;
border-style: solid;
border-radius: 15px;
background-color: #fff;
overflow: hidden;
	}

	/* Hulp van Helina*/
	section:nth-of-type(2) li img{
		order:1;
	}

	section:nth-of-type(2) li p:nth-of-type(1){
		order:2;
	}

	section:nth-of-type(2) li h2{
		order:3;
margin: 0;
	}

	section:nth-of-type(2) li p:nth-of-type(2){
		order:4;
	}

	section:nth-of-type(2) li button{
		order: 5;
	}

	section:nth-of-type(2) li button{
		border-style: solid;
border-radius: 25px;
		color: #FFF;
background-color: #F49E75;
border-color: #F49E75;
padding: 1em;
margin: 1em;
font-size: 1rem;
line-height: 1.5;
font-weight: 400;
text-align: center;
vertical-align: middle;
	}
	
	section:nth-of-type(2) li button:hover {
		color: #FFF;
		background-color: #F6A99F;
		border-color: #F6A99F;
		}

	

		/*2 rijen, verdeeld over het scherm*/
		@media (max-width: 70em) {
			ul {
				grid-template-columns: repeat(2, 1fr); /* 2 kolommen */
			}
		}
		
		@media (max-width: 50em) {
			ul {
				grid-template-columns: 1fr; /* 1 kolom */
			}
		}
		/*1 rijen, verdeeld over het scherm*/

			/*Dialog style groot scherm*/

			dialog{
				display: relative;
				display: flex;
				flex-direction: row;
				width: 80%;
			}


	dialog button{
		border-style: solid;
border-radius: 25px;
		color: #FFF;
background-color: #F49E75;
border-color: #F49E75;
padding: 1em;
margin: 1em;
font-size: 1rem;
line-height: 1.5;
font-weight: 400;
text-align: center;
vertical-align: middle;
	}

	dialog button:hover{
		color: #FFF;
		background-color: #F6A99F;
		border-color: #F6A99F;
	}

			dialog img:nth-of-type(1){
				display: block;
				width: 100%;
				order: -1;
				align-items: center;
			}
			
			dialog h2{
				margin-top: 0;
font-family: 'MontecatiniProStrettoUltra', sans-serif;
color: #b19144;
			}

			/*sluitknop style*/
			dialog img:nth-of-type(2) {
				height: 1.5em;
				position: absolute;
				top: 2.5em; 
				opacity: 0.8; 
			}

			@media (max-width: 70em) {
				
			dialog{
				width: 65%;
				flex-direction: column;
			}
			}